.App *
{
  /* background-color: white; */
  position: relative;
  box-sizing: border-box;
  /* display: inline-block; */
  border: 2px solid #DDDDDD;
  border-radius: 8px;
  margin: 2px;
  padding: 8px;
  
  font-family: "Roboto", Arial, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.App > * {
  flex: 1;
}

.portrait
{
  border-radius: 100%;
  background-color: red;
}

.Header
{
  text-align: center;
  height: fit-content;
  white-space: nowrap;
  /* border-width: 0.5px; */
}

.Header > .textContent
{
  font-weight: 900;
  font-size: 13pt;
  border-width: 0;
}

.Header > .icon
{
  position: absolute;
  left: 0;
  top: 0;
  border-width: 0;
  margin: 0;
  
  height: 100%;
  
  object-fit: contain;
  transform-origin: center;
  scale: 1.5;
}

.SearchBar
{

}

h1, h2, h3, h4, h5, h6, p
{
  vertical-align: bottom;
  margin: 0;
  padding: 0;
}

h2 { font-size: 16pt; }
h3 { font-size: 14pt; }
h4 { font-size: 13pt; }
p 
{ 
  font-size: 10pt;
  font-weight: 500;
  opacity: 40%; 
  vertical-align: top;
}
